@import url("https://fonts.googleapis.com/css2?family=Grape+Nuts");
@import url("https://fonts.googleapis.com/css2?family=Roboto");

.view {
    width: 40vw;
    background-color: white;
    box-shadow: 2px 2px 4px grey;
    margin: 0.5rem auto;
    padding: 0.5rem;
}

h2,
h3 {
    text-align: center;
}

.proforma {
    width: 110px;
    display: inline-block;
    font-family: 'Roboto';
    padding: 0 0.5rem;
    margin: 0;
}

.handwriting {
    max-width: 300px;
    display: inline-block;
    font-family: "Grape Nuts";
    font-size: 1.5rem;
    word-wrap: wrap;
    padding: 0 0.5rem;
    margin: 0 0.5rem;
}

@media screen and (max-width:700px) {
    .view {
        flex: 100%;
        width: 90vw;

    }
}